{% extends 'bootstrap/base.html'%}
{% block styles %}
<link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='css/lib/bootstrap.min.css') }}">
<link rel="stylesheet" href="{{url_for('static', filename='css/lib/bootstrap-theme.min.css') }}">
<style type="text/css">
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        margin: 0;
    }
</style>

{% endblock %}
{% block title %}
    Data App
{% endblock %}

{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

{% block content %}
    {% include 'data.html' %}
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='js/lib/jquery.min.js')}}"></script>
<script src="{{url_for('static', filename='js/lib/bootstrap.min.js')}}"></script>
{% endblock %}
